name: visibilityspots.org CI

on:
  push:
    branches:
      - main

jobs:
  AWS:
    runs-on: ubuntu-24.04

    steps:
    - name: checkout repository
      uses: actions/checkout@v6
      with:
        submodules: 'recursive'

    - name: Cache checksums
      uses: actions/cache@v4.3.0
      env:
        cache-name: cache-checksums
      with:
        path: md5-list
        key: cache-checksums

    - name: configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Install stork through cargo
      uses: baptiste0928/cargo-install@v3
      with:
        crate: stork-search
        version: latest

    - name: install python requirements
      uses: BSFishy/pip-action@v1
      with:
        requirements: requirements.txt


    - name: build AWS based content
      run: make aws-deploy

  github-pages:
    runs-on: ubuntu-24.04

    steps:
    - name: checkout repository
      uses: actions/checkout@v6
      with:
        submodules: 'recursive'

    - name: Install stork through cargo
      uses: baptiste0928/cargo-install@v3
      with:
        crate: stork-search
        version: latest

    - name: install python requirements
      uses: BSFishy/pip-action@v1
      with:
        requirements: requirements.txt

    - name: build github content
      run: make github-build

    - name: deploy content as github-page
      uses: JamesIves/github-pages-deploy-action@v4.7.4
      with:
        branch: gh-pages
        folder: output
